@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html, body {
width:100%;
height: 100%;
margin: 0;
padding: 0;
background-color: #ffffff;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}

.timeline > li {
  position: relative;
  margin-bottom: 100px;
  min-height: 170px;
}

.timeline > li:before, 
.timeline > li:after {
  content: " ";
  display: table;
} 

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  width: 170px;
  height: 170px;
  margin-left: -85px;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #33BFDB;
}

.timeline > li .timeline-panel {
  float: left;
  position: relative;
  width: 41%;
  padding: 0 20px 20px 100px;
  text-align: right;
} 

.timeline > li:after {
  clear: both;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li .timeline-image h4 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: inherit;
  margin-top: 40px;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

* {box-sizing:border-box}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 10px;
  color: white; 
  line-height: 1;
}

.javascript {width: 80%; background-color: #2196F3; height: 30px; border-radius: 20px;}
.react {width: 70%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.php {width: 60%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.java {width: 50%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.python {width: 50%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.html {width: 90%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.css {width: 90%; background-color: #2196F3; height: 30px; border-radius: 20px;} 
.swift {width: 70%; background-color: #2196F3; height: 30px; border-radius: 20px;} 